{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="container">
    <div class="menu-text">
    <h1 class ="text-success display-4 fw-bold">Reviews</h1>
    </div>
    <br>
    <br>

    {% for category in categories %}
    <h2 class="border border-dark p-3 mt-4 display-4 fw-bold text-muted">{{ category.name }}</h2>

    <div class="row">
        {% for menuitem in menuitems %}
        {% if menuitem.category == category %}        
        <div class="col-md-3 mb-4">
            <div class="card">
                <img class="menu-image" src="{{ menuitem.menu_image.url }}" class="card-img-top" alt="{{ menuitem.name }}">
                <div class="card-body">
                    <h5 class="card-title">{{ menuitem.name }}</h5>
                    <div class="rating">
                        
                        {% for menu_name, full_stars in full_stars.items %}
                            {% if menu_name == menuitem.name %}
                                {% if full_stars %}
                                    {% for i in ""|rjust:full_stars %}
                                        <i class="fa fa-star text-warning"></i>
                                    {% endfor %}
                                {% endif %}
                            {% endif %}
                        {% endfor %}
                        {% for menu_name, half_stars in half_stars.items %}
                            {% if menu_name == menuitem.name %}
                              {% if half_stars %}
                                <i class="fa fa-star-half text-warning"></i>
                              {% endif %}                            
                            {% endif %}
                        {% endfor %}
                        {% for menu_name, average_rating in avg.items %}
                          {% if menu_name == menuitem.name %}
                            {% if average_rating %}
                              {{ average_rating|floatformat:1 }}<span> </span><span class="text-muted">out of 5 rating</span>
                            {% endif %}
                          {% endif %}
                        {% endfor %}                        
                    </div>
                    {% if menuitem.review_set.count != 0 %}
                        <p class="card-text">Reviews: <a href="{% url 'item-reviews' menuitem.id %}">{{ menuitem.review_set.count }}</a></p>
                    {% else %}
                        <p class="card-text">Reviews: none</p>
                    {% endif %}
                </div>
            </div>
        </div>        
        {% endif %}
        {% endfor %}
    </div>

    {% endfor %}
</div>
{% endblock %}
