{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="container">
    <div class="menu-text">
    <h1>Reviews</h1>
    </div>
    <br>
    <br>

    {% for category in categories %}
    <h2>{{ category.name }}</h2>

    <div class="row">
        {% for menuitem in menuitems %}
        {% if menuitem.category == category %}        
        <div class="col-md-3 mb-4">
            <div class="card">
                <img class="menu-image" src="{{ menuitem.menu_image.url }}" class="card-img-top" alt="{{ menuitem.name }}">
                <div class="card-body">
                    <h5 class="card-title">{{ menuitem.name }}</h5>
                    <div class="rating">
                        {% for menu_name, average_rating in avg.items %}
                        {% if menu_name == menuitem.name %}
                        {% if average_rating %}
                        {{ average_rating|floatformat:1 }}
                        {% endif %}
                        {% endif %}
                        {% endfor %}
                        {% for menu_name, full_stars in full_stars.items %}
                        {% if menu_name == menuitem.name %}
                        {% if full_stars %}                         
                        {% for i in ""|rjust:full_stars %}
                            <i class="fa fa-star"></i>
                        {% endfor %}
                        {% if average_rating != full_stars %}
                        <i class="fa fa-star-half"></i>
                        {% endif %}
                        {% endif %}
                        {% endif %}
                        {% endfor %}
                    </div>
                    <p class="card-text">Reviews: <a href="{% url 'item-reviews' menuitem.id %}">{{ menuitem.review_set.count }}</a></p>
                </div>
            </div>
        </div>        
        {% endif %}
        {% endfor %}
    </div>

    {% endfor %}
</div>
{% endblock %}
