{% extends 'base.html' %}

{% block content %}
<div class="container">
    <h1>Reviews</h1>

    {% for category in categories %}
    <h2>{{ category.name }}</h2>

    <div class="row">
        {% for menuitem, average_rating in average_ratings.items %}
        {% for menuitem in menuitems %}
     
        {% if menuitem.category == category %}        
        <div class="col-md-3 mb-4">
            <div class="card">
                <img src="{{ menuitem.menu_image.url }}" class="card-img-top" alt="{{ menuitem.name }}">
                <div class="card-body">
                    <h5 class="card-title">{{ menuitem.name }}</h5>
                    <div class="rating">
                        {% with average_rating=menuitem.review.average_rating %}
                          {% if average_rating %}
                            {% with integer_rating=average_rating|floatformat:0 %}
                              {% with decimal_rating=average_rating|floatformat:1 %}
                                {% for i in ""|rjust:integer_rating %}
                                  <i class="fa fa-star"></i>
                                {% endfor %}
                                {% if decimal_rating > 0 %}
                                  <i class="fa fa-star-half"></i>
                                {% endif %}
                              {% endwith %}
                            {% endwith %}
                          {% endif %}
                        {% endwith %}
                    </div>
                    <p class="card-text">Reviews: <a href="{% url 'item-reviews' menuitem.id %}">{{ menuitem.review_set.count }}</a></p>
                </div>
            </div>
        </div>        
        {% endif %}
        {% endfor %}
    </div>

    {% endfor %}
</div>





{% endblock content %}
