{% extends 'base.html' %}

{% block content %}
<div class="container text-success">
    <h1>{{ item_reviews.0.menu_item.name }} Reviews</h1>
    <img src="{{ item_reviews.0.menu_item.menu_image.url }}" alt="{{ item_reviews.0.menu_item.name }}" class="mb-4"
        width="200" height="200">

    {% for review in item_reviews %}
    <div class="card mb-4 text-body">
        <div class="card-body">
            <div class="media">
                <div class="media-body">                    
                    <div class="rating text-warning">
                        {% for i in ""|rjust:review.rating %}
                            <i class="fa fa-star"></i>
                        {% endfor %}
                    </div>
                    <p class="card-subtitle mb-2 text-muted"><strong>{{ review.user.username }}</strong> created on: {{ review.created_date }}
                    </p>
                    <p class="card-text text-Excepturi">{{ review.content }}</p>
                    {% if review.image %}
                    <img src="{{ review.image.url }}" alt="Review Image" class="img-fluid mb-2">
                    {% endif %}
                    <p class="card-text"><small class="text-muted">Visited on: {{ review.visit_date }}</small></p>
                    {% if review.reply_set.exists %}
                    <div class="admin-reply border bg-light p-3">
                        <p class="card-text"><small class="text-muted"><strong>Manager Replies:</strong></small></p>
                        {% for reply in review.reply_set.all %}
                        <p class="card-text"><small class="text-primary">{{ reply.content }}</small></p>
                        {% endfor %}
                    </div>
                    {% endif %}
                    {% if user.is_staff %}
                    <button class="btn">
                        <a class="btn btn-login" href="{% url 'reply:reply' review.id %}">Reply</a>
                    </button>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
</div>

{% endblock content %}

