{% extends 'base.html' %}

{% block content %}
<div class="container">
    <h1>Reviews</h1>

    {% for category in categories %}
    <h2>{{ category.name }}</h2> <!-- Display the category name -->

    <div class="row">
        
        {% for review in reviews %}
        {% if review.menu_item.category == category %}
        <div class="col-md-6 mb-4">
            <div class="card">
                <div class="card-body">
                    <div class="media">
                        <img src="{{ review.menu_item.menu_image.url }}" class="mr-3" alt="{{ review.menu_item.name }}"
                            width="100" height="100">
                        <div class="media-body">
                            <h5 class="card-title">{{ review.menu_item.name }}</h5>
                            <div class="rating">
                            {% for i in ""|rjust:review.rating %}
                                <i class="fa fa-star"></i>
                            {% endfor %}
                            </div>
                            <p class="card-subtitle mb-2 text-muted">{{ review.user.username }} created on: {{ review.created_date}}
                            </p>
                            <p class="card-text">{{ review.content }}</p>
                            {% if review.image %}
                            <img src="{{ review.image.url }}" alt="Review Image" class="img-fluid mb-2">
                            {% endif %}
                            <p class="card-text"><small class="text-muted">Visited on: {{ review.visit_date }}</small>
                            </p>
                            {% if review.reply_set.exists %}
                                <div class="admin-reply">
                                    <p class="card-text"><small class="text-muted">Admin Replies:</small></p>
                                    {% for reply in review.reply_set.all %}
                                        <p class="card-text"><small class="text-muted">{{ reply.content }}</small></p>
                                    {% endfor %}
                                </div>
                            {% endif %}
                            {% if user.is_staff %}
                            <button class="btn btn-primary">Reply</button>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% endif %}
        {% endfor %}
    {% endfor %}
    </div>
{% endblock content %}