/* Menus Pages */
.menu-name {
  font-size: px;
}

.menu-text h1 {
  text-align: center;
}

.menu-text a {
  display: block;
  text-align: center;
  margin-top: 10px; 
}
/* Set the size of the each menu container */
.menu-container {  
  width: 50%;
  height: 300px;
  display: flex;
  flex-wrap: wrap;
}

@media (max-width: 767.98px) {
  .menu-container {  
    width: auto;    
  }
}

/* Set the width and height of menu images */
.menu-image {  
  width: 100%;
  height: 300px;
  object-fit: cover;
}

/* Admin link  */
.ad-link {
  margin-top: 5px;
  margin-bottom: 10px;
}

/* Menu Modal */
.modal-header, 
.modal-footer {  
  background-color: #7e877d;
}

.modal-body {  
  text-align: center;
  background-color: #f5e8a5;
}

/* Menu Forms  */
.menu-form {
  background-color: #d0d4d4; /* Cream background color */
}
.menu-form label {
  font-weight: bold; /* Bold labels */
}

/* bank to top icon */
.back-to-top {
  position: fixed;
  bottom: 65px;
  right: 65px;
  font-size: 50px;
  color: blue;
}

/* For middium screen sizes from 767px to 1200px wide up */
@media (min-width: 767px) and (max-width: 1200px) {
  .menu-name-container {
    display: none;
  }
}