/* Menus Pages */

.menu-text h1 {
  text-align: center;
}

.menu-text a {
  display: block;
  text-align: center;
  margin-top: 10px; 
}
/* Set the size of the each menu container */
.menu-container {
  width: 300px;
  height: 300px;
  display: flex;
  flex-wrap: wrap;
}

/* Set the width and height of menu images */
.menu-image {  
  height: 100%;
  object-fit: cover;
}

/* Menu Modal */

.modal-header, 
.modal-footer {  
  background-color: #7e877d;
}

.modal-body {  
  text-align: center;
  background-color: #f5e8a5;
}

/* Menu Forms  */
.menu-form {
  background-color: #d0d4d4; /* Cream background color */
}
.menu-form label {
  font-weight: bold; /* Bold labels */
}

/* bank to top icon */
.back-to-top {
  position: fixed;
  bottom: 65px;
  right: 65px;
  font-size: 50px;
  color: blue;
}