{% extends 'base.html' %}
{% load static %}

{% block css %}
{{ block.super }}
<link rel="stylesheet" href="{% static 'home/css/style.css' %}">
{% endblock %}

{% block content %}
<div class="home_container">   
    <div >
        <div >
            <div class="container-section">
                <div >
                    <h1><span class="red-letter">O</span>riginal Ingredients</h1>
                </div>
                <div >
                    <img src="{% static 'home/images/original-ingredients.jpeg' %}" alt="original-ingredients">
                </div>
            </div>
        </div>
        <div >
            <div class="container-section">
                <div >
                    <h1><span class="red-letter">A</span>uthentic Recipe</h1>
                </div>
                <div >
                    <img src="{% static 'home/images/Authentic-recipe.jpeg' %}" alt="Authentic-recipe">
                </div>
            </div>
        </div>
        <div >
            <div class="container-section">
                <div>
                    <h1><span class="red-letter">T</span>raditional Method</h1>
                </div>
                <div >
                    <img src="{% static 'home/images/trdition-method.jpeg' %}" alt="traditional-method">
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}


{% block javascript %} 
{{ block.super }}
<script src="{% static 'home/js/script.js' %}"></script>
{% endblock %}