{% extends 'base.html' %}
{% load static %}

{% block head %}
<link rel="stylesheet" href="{% static 'home/css/styles.css' %}">
<script src="{% static 'home/js/script.js' %}"></script>
{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-4">
            <div class="container-section">
                <div class="header">
                    <img src="path_to_logo_image" alt="Logo" class="logo">
                    <h4>Vietnamese Cuisine</h4>
                </div>
                <h2>Container Section 1</h2>
                <p>XXX..</p>
                <img src="path_to_image" alt="Image 1">
            </div>
        </div>
        <div class="col-md-4">
            <div class="container-section">
                <div class="header">
                    <img src="path_to_logo_image" alt="Logo" class="logo">
                    <h4>Vietnamese Cuisine</h4>
                </div>
                <h2>Container Section 2</h2>
                <p>XXX..</p>
                <img src="path_to_image" alt="Image 2">
            </div>
        </div>
        <div class="col-md-4">
            <div class="container-section">
                <div class="header">
                    <img src="path_to_logo_image" alt="Logo" class="logo">
                    <h4>Vietnamese Cuisine</h4>
                </div>
                <h2>Container Section 3</h2>
                <p>XXX..</p>
                <img src="path_to_image" alt="Image 3">
            </div>
        </div>
    </div>
</div>

<script src="{% static 'js/rotate_containers.js' %}"></script>
{% endblock %}