.home_container {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: calc(100vh - 100px);
}

.header {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
}

.header .logo {
  width: 40px;
  height: 40px;
  margin-right: 10px;
}

.header h4 {
  margin: 0;
  font-size: 25px;
}

.container-section h1 {
    font-size: 28px;
    margin-top: 0;
    color:darkslateblue;
}

  .container-section {
    display: none;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  .container-section.active {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .container-section .section-content h2 {
    margin-bottom: 1rem;
  }
  
  .container-section img {
    width: 100%;
    height: auto;
  }

  