/* Styles for the header section */
.header {
    color: blue
    position: absolute;
    top: 0;
    left: 0;
}

.logo {
    width: 30px;
    height: 30px;
    margin-right: 10px;
}

h4 {
    margin: 0;
}

/* Additional styles for the container sections */
.container-section {
    background-color: white;
    padding: 20px;
    margin-bottom: 20px;
}

h2 {
    font-size: 24px;
    margin-top: 0;
}

p {
    margin-top: 10px;
}

img {
    width: 100%;
    height: auto;
    margin-top: 10px;
}