/* pre-setting  */
* {
    padding: 0;
    border: none;
    margin: 0;
}

.brand {
    font-family: Lato, sans-serif;      
    color: beige;
    font-weight: bold;
}

body {
    font-family: Roboto, sans-serif; 
    background-color: rgba(0,0,0,.15);
}

/* Nav Bar Logo */
.logo {
    width: 40px;
    height: 40px;
    margin-right: 10px;
  }
  

/* Footer */
html, body {
    height: 100%;
}
body {
    display: flex;
    flex-direction: column;
}
main {
    flex: 1 0 auto;
}
footer {    
    margin-top: 20px;    
    align-items: center;
    border: 5px groove #e5eaf9;
    flex-shrink:0;       
}
footer span {
    color: beige;
    font-weight: bold;
}


/* Sign up/ Sign out page style */
.link {
    color: #e4510d;
    text-decoration: none;
}

.link:hover,
.link:active {
    color: #3009ec;
    text-decoration: underline;
}

.btn-login {
    background-color: #3009ec;
    color: #fff;
}

.btn-login:hover,
.btn-login:active {
    background-color: #fff;
    color: #23BBBB;
}


.btn-login a {
    color: white;
    text-decoration: none;
}

