/* pre-setting  */
* {
    padding: 0;
    border: none;
    margin: 0;
}

body {
    background-color: rgba(0,0,0,.15);
}

/* Footer */
html, body {
    height: 100%;
}
body {
    display: flex;
    flex-direction: column;
}
main {
    flex: 1 0 auto;
}
footer {    
    margin-top: 20px;    
    align-items: center;
    border: 5px groove #e5eaf9;
    flex-shrink:0;       
}
footer span {
    color: beige;
    font-weight: bold;
}


/* Signup/ Sign out page style */
.link {
    color: #e4510d;
    text-decoration: none;
}

.link:hover,
.link:active {
    color: #0977ec;
    text-decoration: underline;
}

.btn-login {
    background-color: #0977ec;
    color: #fff;
}

.btn-login:hover,
.btn-login:active {
    background-color: #fff;
    color: #23BBBB;
}


.btn-login a {
    color: white;
    text-decoration: none;
}

