{% extends 'base.html' %}
{% load static %}


{% block content %}
<div class="menu-text">
    <h1>Daily Menu</h1>
{% if request.user.is_authenticated and request.user.is_staff %}
<a href="{% url 'add-menu' %}">Add Menu</a>
{% endif %}
</div>
<br>
<br>
<!-- Display menu items by category -->
{% for category, menu_items in menu_items_by_category.items %}
<h2>{{ category.name }}</h2>
<div class="row">
    {% for menu in menu_items %}
    <div class="col-md-6 mb-3">
        <div class="row">
            <div class="col-md-4">
                {% if menu.menu_image.url is not None %}
                <img src="{{ menu.menu_image.url }}" class="img-fluid" alt="Menu Image">
                {% else %}
                <img src="{% static 'menu/images/default.jpeg' %}" class="img-fluid" alt="Placeholder Image">
                {% endif %}                
            </div>
            <div class="col-md-8">
                <div class="card">
                    <div class="card-body">
                        <a href="{% url 'single-menu' menu.id %}"><h5 class="card-title">{{ menu.name }}</h5></a>
                        <p class="card-text">Price: {{ menu.formatted_price }}</p>
                        <p class="card-text">{{ menu.description }}</p>
                        <p>{{ menu_item_id }}</p>

                         <!-- User Links -->
                         {% if request.user.is_authenticated %}
                         <a href="{% url 'leave-review' menu.id %}">Leave a Review</a>
                         {% else %}
                         <a href="{% url 'account_login' %}?next={% url 'leave-review' menu.id %}">Leave a Review</a>
                         {% endif %}
                         <br>

                        <!-- Admin Links -->
                        {% if request.user.is_authenticated and request.user.is_staff %}                      
                        <a href="{% url 'edit-menu' menu.id %}">Edit Menu</a>
                        {% if menu.status == 'approved' %}
                        <a href="{% url 'hide-menu' menu.id %}">Hide Menu</a>
                        {% elif menu.status == 'hidden' %}
                        <a href="{% url 'hide-menu' menu.id %}">Unhide Menu</a>
                        {% endif %}
                        <a href="{% url 'delete-menu' menu.id %}">Delete Menu</a>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endfor %}
{% endblock %}
