{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="menu-text">
    <h1 class ="text-success display-4 fw-bold">Daily Menu</h1>
    {% if request.user.is_authenticated and request.user.is_staff %}
    <a href="{% url 'add-menu' %}">Add Menu</a>
    {% endif %}
</div>
<br>
<br>
<!-- Display menu items by category -->
{% for category, menu_items in menu_items_by_category.items %}
<h2 class="border border-dark p-3 mt-4 display-4 fw-bold text-muted">{{ category.name }}</h2>
<br>
<div class="row">
    {% for menu in menu_items %}

    <div class="col-md-6 mb-3">
        <div class="card">
            <div class="row">
                <!-- Menu Image -->
                <div class="col-md-8 menu-container">
                    <img src="{{ menu.menu_image.url }}" class="card-img-top menu-image" alt="Menu Image">
                </div>
                
                <!-- Card Body -->
                <div class="col-md-4">
                    <div class="card-body">
                        <h5 class="card-title">{{ menu.name }}</h5>                
                        <p class="card-text">Price: {{ menu.formatted_price }}</p>
                        <button class="btn btn-primary mr-2 mb-2" data-bs-toggle="modal" data-bs-target="#menuModal"
                            data-menu-name="{{ menu.name }}" data-menu-price="{{ menu.formatted_price }}"
                            data-menu-description="{{ menu.description }}">View Details</button>
                        <!-- User Links -->
                        {% if request.user.is_authenticated %}
                        <span>
                            <a href="{% url 'leave-review' menu.id %}" class="btn btn-secondary btn-sm">Leave a Review</a>
                        </span>  
                        {% else %}
                        <span>
                            <a href="{% url 'account_login' %}?next={% url 'leave-review' menu.id %}" class="btn btn-secondary btn-sm">Leave a Review</a>
                        </span>   
                        {% endif %}
                    </div>
                    
                     <!-- Admin Links -->
                    {% if request.user.is_authenticated and request.user.is_staff %}
                    <div class="card-footer d-flex justify-content-around">
                        <a href="{% url 'edit-menu' menu.id %}">Edit</a>
                        {% if menu.status == 'approved' %}
                        <a href="{% url 'hide-menu' menu.id %}">Hide</a>
                        {% elif menu.status == 'hidden' %}
                        <a href="{% url 'hide-menu' menu.id %}">Unhide</a>
                        {% endif %}
                        <a href="{% url 'delete-menu' menu.id %}">Delete</a>
                    </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
</div>


{% endfor %}
<!-- Go back to top icon -->
<a href="#top" class="back-to-top">
    <i class="fa fa-arrow-up"></i>
</a>
<!-- Modal -->
<div class="modal fade" id="menuModal" tabindex="-1" aria-labelledby="menuModalTitle" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header text-light ">
                <h5 class="modal-title" id="menuModalTitle"></h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p id="menuName"></p>
                <p id="menuDescription"></p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
{% endblock %}
