{% extends 'base.html' %}

{% block content %}
<h1>Menu</h1>
<ul>
    {% for category, items in categorized_menu.items %}
    <h2>{{ category }}</h2>
    <ul>
        {% for item in items %}
        <li>
            <h3>{{ item.name }}</h3>
            <p>{{ item.description }}</p>
            <p>Price: {{ item.price }}</p>
            <!-- Add other item details as needed -->
            {% if user.is_authenticated %}
            <a href="{% url 'save_liked_dish' item.id %}">Save this dish</a>
            {% endif %}
        </li>
        {% endfor %}
    </ul>
    {% endfor %}
</ul>
{% endblock %}